* {
  box-sizing: border-box;
}

.changeColor {
  height: 200px;
  width: 200px;
  background-color: red;
  transition-property: background-color;
  transition-duration: 3s;
}

.changeColor:hover {
  background-color: orange;
}

.makeBigger {
  height: 200px;
  width: 200px;
  background-color: darkslateblue;
  transition-property: height, width;
  transition-duration: 3s;
  /*transition: transform 3s; */
}

.makeBigger:hover {
  height: 400px;
  width: 400px;
  /*transform: scale(1.5)*/
}